:root {
  /* Dark Mode Colors*/
  --black: #151718;
  --grey-1: #323337;

  --accent-1: #ff31d0;
  --accent-1--highlight: #d7bfd1;

  --accent-2: #e6b934;
  --accent-2--highlight: #e1d6b9;

  --accent-3: #37becc;
  --accent-3--highlight: #b9d8db;

  --accent-4: #e31b6d;

  --divider: #888888;
  --text: #ffffffd6;
  --text-dark: #ebebeba3;
  --text-dark2: #8e8e8ea3;

  --success: #0de00d;
  --failure: #f11924;
}

/* semantic color variables for this project 
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) { }
*/

/*
  transition:
  color 0.5s,
  background-color 0.5s;
*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--text);
  background-color: var(--black);
  line-height: 1.6;
  font-family:
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
  position: relative;
  padding-top: 7.5rem;
  min-height: 100vh;
  overflow-x: hidden;
}

.hexagon {
  background-image: url("@/assets/images/hexagon.png");
  background-size: 40rem;
  background-position: calc(50vw - 20rem) 0;
}

.background {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(150deg, var(--black) 0%, #1d1f20 100%);
  top: 0;
  left: 0;
}

.image--hexagonal {
  width: 31.2rem;
  clip-path: polygon(33% 0, 75% 0%, 95.7% 49.5%, 75% 99%, 33.4% 99%, 12% 49.6%);
}


@media (min-width: 1024px) {
  .hexagon {
    background-size: 45.1rem;
    background-position: calc(50vw) 0;
  }
  
  .image--hexagonal {
    width: 35rem;
  }
}

li {
  list-style: none;
}

.bold {
  font-weight: bold;
}

h4 {
  display: inline;
  font-weight: bold;
}

.link--white {
  color: var(--text);
}

.link--white:hover {
  color: var(--accent-1);
}

.link--magenta {
  color: var(--accent-1);
}

.link--magenta:hover {
  color: var(--accent-1--highlight);
}

.link--yellow {
  color: var(--accent-2);
}

.link--yellow:hover {
  color: var(--accent-2--highlight);
}

.link--blue {
  color: var(--accent-3);
}

.link--blue:hover {
  color: var(--accent-3--highlight);
}

.display--none {
  display: none !important;
}

.border--none {
  border: none !important;
}

.opacity--zero {
  opacity: 0;
}

@keyframes keyframes_fade-in--right {
  0% {
    transform: translate(30rem);
    opacity: 0.1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes keyframes_fade-in--left {
  0% {
    transform: translate(-30rem);
    opacity: 0.1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes keyframes_fade-in--bottom {
  0% {
    transform: translate(0, 30rem);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes keyframes_fade-in--none {
  0% {
    transform: scale(0.1);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-in--right {
  animation-name: keyframes_fade-in--right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.35,.04,.25,1.09);
}

.fade-in--left {
  animation-name: keyframes_fade-in--left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.35,.04,.25,1.09);
}

.fade-in--bottom {
  animation-name: keyframes_fade-in--bottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.35,.04,.25,1.09);
}

.fade-in--none {
  animation-name: keyframes_fade-in--none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.35,.04,.25,1.09);
}


@media (min-width: 1024px) {
  .fade-in--right {
    animation-duration: 0.75s;
  }
  
  .fade-in--left {
    animation-duration: 0.75s;
  }
  
  .fade-in--bottom {
    animation-duration: 0.75s;
  }
  
  .fade-in--none {
    animation-duration: 0.75s;
  }
}