:root {
  /* Dark Mode Colors*/
  --black: #151718;
  --grey-1: #323337;

  --accent-1: #ff31d0;
  --accent-1--highlight: #d7bfd1;

  --accent-2: #ffff29;
  --accent-2--highlight: #f2f2d3;

  --accent-3: #6394d5;
  --accent-3--highlight: #c0dbff;

  --accent-4: #e31b6d;

  --divider: #888888;
  --text: #ebebeba3;
  --text-dark: #8e8e8ea3;
}

/* semantic color variables for this project 
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) { }
*/

/*
  transition:
  color 0.5s,
  background-color 0.5s;
*/


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  color: var(--text);
  background-color: var(--black);
  line-height: 1.6;
  font-family:
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
  position: relative;
  padding-top: 7.5rem;
  min-height: 100vh;
}

.hexagon {
  background-image: url("@/assets/images/hexagon.png");
}

.background {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(150deg, var(--black) 0%, #1d1f20 100%);
  top: 0;
  left: 0;
}

li {
  list-style: none;
}

h4 {
  display: inline;
  font-weight: bold;
}

.link--magenta {
  color: var(--accent-1);
}

.link--magenta:hover {
  color: var(--accent-1--highlight);
}

.link--yellow {
  color: var(--accent-2);
}

.link--yellow:hover {
  color: var(--accent-2--highlight);
}

.link--blue {
  color: var(--accent-3);
}

.link--blue:hover {
  color: var(--accent-3--highlight);
}


.display--none {
  display: none;
}